<div id="intro" class="clearfix">
  <div class="homepage-image">
    <div class="container-fluid" id="intro-text">
      <div class="row">
        <h1 >Alejandro Jaramillo's Blog</h1>
        <h4>A blog about web development and related technologies</h4>
      </div>
    </div>
  </div>
</div>

<div role="main" class="container">
  <article>
    <header class="post-header">
      <h2 class="post-title">
        <a href="">Lorem ipsum dolor sit amet, pro dico modus assum cu</a>
      </h2>
    </header>
    <section class="post-excerpt">
      <p>Lorem ipsum dolor sit amet, pro dico modus assum cu, viderer perpetua persecuti ex mel, sed ei apeirian assentior. Prompta singulis constituto pri ad, ex illud oblique nam.
        <a href="">Read more >></a>
      </p>
    </section>
    <footer class="post-footer">
      <ul class="keywords">
        <li>
          <a href="">Lorem</a>
        </li>
        <li>
          <a href="">ipsum</a>
        </li>
        <li>
          <a href="">dolor</a>
        </li>
      </ul>
    </footer>
  </article>
  <article>
    <header class="post-header">
      <h2 class="post-title">
        <a href="">Lorem ipsum dolor sit amet, pro dico modus assum cu</a>
      </h2>
    </header>
    <section class="post-excerpt">
      <p>Lorem ipsum dolor sit amet, pro dico modus assum cu, viderer perpetua persecuti ex mel, sed ei apeirian assentior. Prompta singulis constituto pri ad, ex illud oblique nam.
        <a href="">Read more >></a>
      </p>
    </section>
    <footer class="post-footer">
      <ul class="keywords">
        <li>
          <a href="">Lorem</a>
        </li>
        <li>
          <a href="">ipsum</a>
        </li>
        <li>
          <a href="">dolor</a>
        </li>
      </ul>
    </footer>
  </article>
  <article>
    <header class="post-header">
      <h2 class="post-title">
        <a href="">Lorem ipsum dolor sit amet, pro dico modus assum cu</a>
      </h2>
    </header>
    <section class="post-excerpt">
      <p>Lorem ipsum dolor sit amet, pro dico modus assum cu, viderer perpetua persecuti ex mel, sed ei apeirian assentior. Prompta singulis constituto pri ad, ex illud oblique nam.
        <a href="">Read more >></a>
      </p>
    </section>
    <footer class="post-footer">
      <ul class="keywords">
        <li>
          <a href="">Lorem</a>
        </li>
        <li>
          <a href="">ipsum</a>
        </li>
        <li>
          <a href="">dolor</a>
        </li>
      </ul>
    </footer>
  </article>
  <article>
    <header class="post-header">
      <h2 class="post-title">
        <a href="">Lorem ipsum dolor sit amet, pro dico modus assum cu</a>
      </h2>
    </header>
    <section class="post-excerpt">
      <p>Lorem ipsum dolor sit amet, pro dico modus assum cu, viderer perpetua persecuti ex mel, sed ei apeirian assentior. Prompta singulis constituto pri ad, ex illud oblique nam.
        <a href="">Read more >></a>
      </p>
    </section>
    <footer class="post-footer">
      <ul class="keywords">
        <li>
          <a href="">Lorem</a>
        </li>
        <li>
          <a href="">ipsum</a>
        </li>
        <li>
          <a href="">dolor</a>
        </li>
      </ul>
    </footer>
  </article>
</div>

