
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="">Alejandro Jaramillo</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto" id="header-lists">
          <li class="nav-item active">
            <a class="nav-link" href="">Lorem Ipsulum </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="">Lorem Ipsulum </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
